body{
   background-image: url(blublu.png);
   background-repeat: no-repeat;
   
}

p {
    text-align: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

footer{
    padding: 110px
}

header{
text-align: center;
}

h1{
    font-size: 70px;
    color: rgb(199, 200, 201);
}

label{
    font-size: 30px;
}

